nav {
	background-color: rgba(37, 37, 37, 0.80) !important;
}

body {
	background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}

#main-container {
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
}

button {
	background-color: rgba(40, 167, 69, 0.80) !important;
	color: white !important;
}

#namecard {
  background: rgba(37, 37, 37, 0.80);
  padding: 0.5em;
  width: 24em;
  height: 8em;
  display: none;
  margin-top: 2em;
  position: fixed;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -0%);
  color: white;
}

.profile-img {
  height: 96px;
  margin-right: 0.5em;
  background: white;
}